*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: calc(1.5rem + 1.5vw);
}

h2 {
  font-size: calc(1rem + 1.5vw);
}

h3 {
  font-size: calc(0.8rem + 1.5vw);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

main {
  padding: 1rem 0;
}

footer {
  display: flex;
  padding: 1rem 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.splash {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1rem 0;
}

.splash-body {
  grid-area: body;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background: #000;
  color: #fff;
}

a {
  color: #a6341b;
}

.logo {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.album {
  width: 100%;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

small {
  font-size: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.tracks {
  text-align: left;
  margin: 0;
}
