:root {
  --blue: #4586bf;
  --blue-hover: #3bbcd9;
  --black: #000;
  --white: #fff;
  --bg: #e2dad0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg);
  color: var(--black);
  margin: 0px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

h1,
h2 {
  margin: 0 0 0.5rem;
  line-height: 1.1;
  font-weight: 900;
}

h1 {
  font-size: 3.375rem;
}

h2 {
  font-size: 2.25rem;
}

p {
  margin: 0 0 1rem;
}

a {
  color: var(--blue);
  transition: color 300ms ease;
}

a:hover {
  color: var(--blue-hover);
}

small {
  font-weight: inherit;
  font-size: 1rem;
  display: block;
}

.main {
  padding-top: 48px;
  padding-bottom: 48px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}

.hero {
  padding: 6rem 0;
  background: #000;
}

@media (min-width: 576px) {
  .hero {
    padding: 0;
    background: url("../images/obscure_animals_bunny.png") center center
        no-repeat,
      var(--black);
    background-attachment: fixed;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero-image {
  margin-bottom: 0;
}

.yt {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.centered {
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
}

.icon-link {
  display: block;
  padding: 1rem;
  transition: fill 300ms ease, background 300ms ease;
  fill: var(--white);
  border-radius: 50%;
}

.icon-link:hover {
  fill: var(--blue-hover);
  background: var(--white);
}

svg {
  display: block;
  width: 100%;
  max-width: 3rem;
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.dark {
  background: var(--black);
  color: var(--white);
}
